:root{
    --main-red-color: #EF302B;
    --main-blue-color: #1E4391;
    --btn-color-hover: #C0231F;
    --toggle-title-inactive: #222222;
    --forter-gradient-color: linear-gradient(270deg, #FF2D7F -0.71%, #FB3727 47.63%, #FEEA0F 100%);
    --header-background-linear: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

._container{
    max-width: 1520px;
    margin-inline: auto;
}
.btn{
    display: block;
    color: white;
    width: 280px;
    padding: 25px 0;
    border-radius: 24px;
    background: var(--main-red-color);
    transition: background-color .3s ease-in-out;
}
.btn:hover{
    background: var(--btn-color-hover);
}
.link{
    position: relative;
}
.link::after{
    position: absolute;
    content: "";
    bottom: -4px;
    left: 0;
    width: 0;
    transition: .3s ease-in-out;
}

.link:hover::after{
    width: 100%;
    height: 2px;
    background: white;
}

.link-underlined{
    position: relative;
}
.link-underlined::after{
    position: absolute;
    content: "";
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 100%;
    background: white;
    transition: .3s ease-in-out;
}

.link-underlined:hover::after{
    width: 50%;
}




/*header*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    background: var(--header-background-linear);
    transition: top .2s ease-in-out;
}
.header__container{
    display: flex;
    align-items: center;
    padding: 30px 0;
}
.header__logo{
    margin-right: 114px;
}
.header__nav{
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.header__link_white{
    color: white;
}
.header__button{}
/*header*/


/*main*/
.main{

}
.main__introduction{
    height: 100vh;
    background: url('/img/main/introduction.png') no-repeat;
    background-size: cover;
}
.introduction{}
.introduction__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    color: white;
    padding-bottom: 80px;
}
.introduction__info{
    display: grid;
    grid-template-columns: 880px 496px;
    align-content: space-between;
    justify-content: space-between;
    line-height: 1.1;
}
.introduction__info div:nth-child(2){
    font-size: 24px;
    align-self: end;
    line-height: 120%;
}
.introduction__slogan{
    margin-bottom: 40px;
}
.introduction__container h1{
    margin-bottom: 40px;
}
/*main*/